
 <div class="card" style="width: 33.333%;">
 <h2>{{theItem.title}}</h2>
  <img class="card-img-top" src="{{theItem.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{theItem.title}} {{theItem.price}}</h5>
    <p class="card-text">{{theItem.description}}</p>
    <span>selling by{{theItem.owner}}</span> --}}
  </div>
</div>

{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}


{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
